.progress-bar {
  width: 410px;
  max-height: 85px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  background: none;
}

.progress-bar__completed,
.progress-bar__active {
  width: 190px;
  height: 85px;
  background: #f2f2f2;
  border: 1px solid none;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-left: 15px;
}

.progress-bar__active-amount,
.progress-bar__completed-amount {
  width: 46px;
  height: 16px;
  padding-top: 10px;
  font-family: 'Inter-bold';
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  color: #202427;
  opacity: 0.5;
}

.progress-bar__completed-title,
.progress-bar__active-title {
  font-family: 'Inter-Bold';
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: -0.02em;
  color: #202427;
}

.progress-bar__active-bar,
.progress-bar__completed-bar {
  width: 160px;
  height: 4px;
  background: #e1e1e1;
  border-radius: 8px;
}

.progress-bar__line {
  border-radius: 8px;
  height: inherit;
}
